body {
  background-color: rgb(243, 243, 243);
  overflow-y: scroll; /* To avoid jitter when results show up */
  font-size: 18px;
  font-size: calc(18px + (22 - 18) * ((100vw - 300px) / (1600 - 300)));
  /* font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
}

/* Basic layout */
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
}

section {
  margin-bottom: 60px;
}

/* Typography */
#site_subtitle,
#author,
#location_name,
.period_title,
.date {
  font-family: Cambria, "Hoefler Text", Utopia, "Liberation Serif",
    "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
}

/* Header */
header {
  margin: 0 auto;
  max-width: 400px;
  margin-top: -120px; /* To counter header image */
}

#site_title {
  font-size: 6em;
  line-height: 1;
  margin-left: -8px;
}

#site_subtitle {
  font-size: 2em;
}

#author {
  margin-bottom: 30px;
}

#search form {
  margin-bottom: 20px;
}

/* Location */
.leaflet-container {
  height: 300px;
  border-radius: 15px;
}

#location_name {
  font-size: 1.8em;
  color: #2a47ff;
  text-align: right;
  margin-bottom: 8px;
}

/* Forecast */
#forecast {
  opacity: 0;
  transition: opacity 0.5s ease; /* Forecast is "hidden" (opacity 0) while loader works */
}

.day {
  margin-bottom: 50px;
}

.period {
  text-align: right;
}

.period_title {
  font-size: 1.8em;
  margin: 0;
  display: block;
}

.date {
  display: block;
}

.date {
  font-size: 1em;
  font-style: italic;
  margin-top: 5px;
  margin-bottom: 15px;
}

.weather_tab {
  padding: 20px;
  background-color: #dbdbdb;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.temp_side {
  flex-grow: 100;
}

.temp_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 7em;
  justify-content: space-between;
  margin: 10px 0;
}

.temp_label {
  font-weight: bold;
}

.extra_side {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-content: flex-start;
  justify-content: center;
  flex-grow: 1;
}

.weather_icon {
  margin: -20px;
}

/* Error message */
#error {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: center;
  flex-direction: column;
}

#error_image {
  width: 80%;
  min-height: 200px;
}

#error_message {
  font-size: 1.5em;
  color: #2a47ff;
}

/* Current weather */
.temp {
  font-size: 3em;
  line-height: 1;
}

#current_weather .weather_tab {
  background-color: #ffc758;
}

/* Upcoming */
#upcoming_title {
  display: flex;
  justify-content: flex-end;
}

#upcoming_weather .weather_tab {
  background-color: #323232;
  color: #fff;
}

/* RESPONSIVNESS */
@media screen and (max-width: 576px) {
  header {
    margin-top: -10px;
  }
}
